<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WebSiteStatistics-CssPro.Ir</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">

            <div class="box">
                <div class="box-header">
                    <span>
                        <span class="imgleft fa fa-navicon" aria-hidden="true"></span>
                        منوی سایت
                    </span>

                </div>
                <div class="box-content">

                    <div class="list-group">
                        <a href="@Url.Action("Index", "Home")" class="list-group-item">صفحه اصلی<span class="pull-left fa fa-eye" aria-hidden="true"></span></a>
                        <a href="@Url.Action("Table","Home")" class="list-group-item"><span class="pull-left fa fa-table" aria-hidden="true"></span>به تفکیک کشور</a>
                        <a href="@Url.Action("Chart","Home")" class="list-group-item"><span class="pull-left fa fa-bar-chart" aria-hidden="true"></span>نمودار</a>
                        <a href="@Url.Action("Map","Home")" class="list-group-item">روی نقشه<span class="pull-left fa fa-map" aria-hidden="true"></span></a>
                        <a href="@Url.Action("BlockeIps","Home")" class="list-group-item">تنظیمات<span class="pull-left fa fa-cogs" aria-hidden="true"></span></a>
                    </div>

                </div>



            </div>
        </div>
        <div class="col-md-10">

            @RenderBody()

        </div>

    </div>

</div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Canvas")

    @RenderSection("scripts", required: false)
</body>
</html>
