@model WebSiteStatistics.Models.SubDetailsViewModel


<div class="box">
    <div class="box-header">
        <span>
            <span class="imgleft fa fa-history" aria-hidden="true"></span>
            آمار کلی
        </span>

    </div>
    <div class="box-content">

        <ul class="list-group">
            <li class="list-group-item">
                تاریخ امروز <span class="pull-left">@DateTime.Now.ToString("yyyy/MM/dd")</span>
            </li>
            <li class="list-group-item">
                بازدید امروز <span class="pull-left">@Model.Today</span>
</li>
            <li class="list-group-item">
                بازدید دیروز <span class="pull-left">@Model.LastDay</span>
            </li>
            <li class="list-group-item">
                بازدید این ماه <span class="pull-left">@Model.ThisMonth</span>
            </li>
            <li class="list-group-item">
                بازدید امسال <span class="pull-left">@Model.ThisYear</span>
            </li>

        </ul>

    </div>



</div>
